* {
    box-sizing: border-box;
}

.content {
    display: block;
    margin: 40px 140px 40px 140px;
}

h2 {
    color: #484B54;
    font-weight: 800;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/*------------------------------------------*/
/* LILY*/

.pic-lily {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	/*text-align: center;*/
}


.pic-lily img {
    position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.pic-lily img {
    max-width: none;
	width: calc(100% + 50px);
	/* opacity: 0.7; */
	transform: translate3d(-40px,0,0);
	transition: opacity 0.35s, transform 0.35s;
}

.pic-lily .text {
	position: absolute;
	top: 55%;
	left: 0;
    padding: 2em;
	color: white;
	text-transform: uppercase;	
}

.pic-lily .text {
    text-align: left;
}

.pic-lily > text {
    position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}



.text11 {
	font-size: 30px;
    word-spacing: -0.15em;
	font-weight: 300;
}

.text11 span {
    font-weight: 800;
}

.text p {
    letter-spacing: 1px;
	font-size: 68.5%;
}

.pic-lily .text11 {
	transition: transform 0.35s;
}


.pic-lily .text11,
.pic-lily p {
	transform: translate3d(0,40px,0);
}

.pic-lily p {
	color: white;
	opacity: 0;
	transition: opacity 0.2s, transform 0.35s;
}
.pic-lily:hover img ,
.pic-lily>.text:hover {
	opacity: 1;

}
.pic-lily:hover img ,
.pic-lily:hover p,
.pic-lily:hover .text11 {
	transform: translate3d(0,0,0);
	opacity: 1;
}

.pic-lily:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}


/*----------------------*/
/*LAYLA*/

.pic-layla {
	position: relative;
	/*float:left;*/
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #18a367;
	/*text-align: center;*/
}



.pic-layla img {
    max-width: none;
	width: calc(100% + 50px);
	opacity: 0.8; 
	transform: translate3d(0,-30,0);
	transition:  transform 0.35s;
}

.pic-layla .text {
	position: absolute;
	text-align: center;
	top: 15%;
	left: 0;
    padding: 2em;
	color: white;
	text-transform: uppercase;	
	
}


.pic-layla > text {
    position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
	
}

.pic-layla .text::before,
.pic-layla .text::after {
	position: absolute;
	content: '';
	opacity: 0;
}

.pic-layla .text::before{
	top: -20px;
	right: 50px;
	bottom: -115px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
}
.pic-layla .text::after {
	top: 0px;
	right: 25px;
	bottom: -95px;
	left: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
	
}

.pic-layla .text11 {
	transition: transform 0.35s;
}

/*
.pic-lily .text11,
.pic-lily p {
	transform: translate3d(0,40px,0);
}
*/

.pic-layla p {
	color: white;
	padding: 0.5em 2em;
	opacity: 0;
	transition: opacity 0.35s;
	transform: translate3d(0,30px,0);
}

.pic-layla:hover p {
	opacity: 1;
}


.pic-layla img,
.pic-layla .text::before,
.pic-layla .text::after,
.pic-layla .text > div {
	transform: translate3d(0,-20px,0);
	transition: opacity 0.35s, transform 0.35s;
}


.pic-layla:hover .text11 {
	opacity: 1;
	transform: translate3d(0,30px,0);
}

.pic-lily:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}

.pic-layla:hover .text::before,
.pic-layla:hover .text::after {
	opacity: 1;
	transform: scale(1);
}



.pic-layla:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
}


.pic-layla:hover .text::after,
.pic-layla:hover .text11,
.pic-layla:hover p,
.pic-layla:hover img {
	transition-delay: 0.15s;
}

/*--------------------------------*/
/*SADIE*/

.pic-sadie {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #18607a;
	/*text-align: center;*/
}


.pic-sadie img {
    position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

/*
.pic-lily img {
    max-width: none;
	width: calc(100% + 50px);
	transform: translate3d(-40px,0,0);
	transition: opacity 0.35s, transform 0.35s;
}
*/

.pic-sadie .text {
	position: absolute;
	text-align: center;
	top: 35%;
	left: 17%;
    padding: 2em;
	color: rgb(71, 66, 66);
	text-transform: uppercase;	
}


.pic-sadie > text {
    position: absolute;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}


.pic-sadie .text11 {
	transition: transform 0.35s;

}



.pic-sadie p {
	color: white;
	opacity: 0;
	position: relative;
	top: 120px;
	transition: opacity 0.35s, transform 0.35s;
}
.pic-sadie:hover .text11 {
	transform: translate3d(0,-40px,0)
}

.pic-sadie .text::before {
	position: absolute;
	top: 80px;
	left: -80px;
	width: 480px;
	height: 100%;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 95%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

.pic-sadie .text::before {
	transition: opacity 0.35s, transform 0.35s;
}
.pic-sadie:hover .text::before {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.pic-sadie:hover p {
	opacity: 1;
	transform: translate3d(0,-20px,0);
}
.pic-sadie:hover p,
.pic-sadie:hover .text11 {
	opacity: 1;
	color: #fff;
}

.pic-lily:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}